[submodule "vxl-backend"]
	path = vxl-backend
	url = https://www.github.com/Voxeon/vxl-backend.git
[submodule "vxlasm"]
	path = vxlasm
	url = https://www.github.com/Voxeon/vxlasm.git
[submodule "vxl-iset"]
	path = vxl-iset
	url = https://www.github.com/Voxeon/vxl-iset.git
[submodule "vxlvm"]
	path = vxlvm
	url = https://www.github.com/Voxeon/vxlvm.git
